.version.contruction /* version checker */
{
	color: #0000E4;
	background-color: #4A9A1E;
}

#page
{
	z-index: 1;
	min-height: 754px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	width: 100%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

#ppu441-4
{
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 34px;
	width: 109.09%;
	margin-left: -10.09%;
}

#pu441-4
{
	width: 87.86%;
	margin-left: 11.16%;
}

#u441-4
{
	z-index: 2;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	width: 38.09%;
}

#u511-9
{
	z-index: 6;
	position: relative;
	margin-right: -10000px;
	width: 23.83%;
	left: 76.18%;
}

#pu1233
{
	margin-top: 21px;
	width: 100%;
}

#u1233
{
	z-index: 15;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u1233_img
{
	margin-left: 141px;
	margin-right: 12px;
	width: 88.32%;
}

#menuu1625
{
	z-index: 23;
	position: relative;
	margin-right: -10000px;
	margin-top: 546px;
	width: 67.46%;
	left: 21.09%;
}

#u1626
{
	min-height: 60px;
	position: relative;
	margin-right: -10000px;
	width: 24.81%;
}

#u1629
{
	padding-bottom: 30px;
	position: relative;
	width: 100%;
}

#u1629:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1629:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1630-4
{
	min-height: 30px;
	position: relative;
	margin-right: -10000px;
	top: 15px;
	width: 100%;
}

#u1629:hover #u1630-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u1629:active #u1630-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u1640
{
	min-height: 60px;
	position: relative;
	margin-right: -10000px;
	width: 24.81%;
	left: 25.03%;
}

#u1641
{
	padding-bottom: 30px;
	position: relative;
	width: 100%;
}

#u1629.MuseMenuActive,#u1641:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1641:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1643-4
{
	min-height: 30px;
	position: relative;
	margin-right: -10000px;
	top: 15px;
	width: 100%;
}

#u1629.MuseMenuActive #u1630-4,#u1641:hover #u1643-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u1641:active #u1643-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u1647
{
	min-height: 60px;
	position: relative;
	margin-right: -10000px;
	width: 24.81%;
	left: 50.06%;
}

#u1648
{
	padding-bottom: 30px;
	position: relative;
	width: 100%;
}

#u1641.MuseMenuActive,#u1648:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1648:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1650-4
{
	min-height: 30px;
	position: relative;
	margin-right: -10000px;
	top: 15px;
	width: 100%;
}

#u1641.MuseMenuActive #u1643-4,#u1648:hover #u1650-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u1648:active #u1650-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u1633
{
	min-height: 60px;
	position: relative;
	margin-right: -10000px;
	width: 24.92%;
	left: 75.09%;
}

#u1634
{
	padding-bottom: 30px;
	position: relative;
	width: 100%;
}

#u1648.MuseMenuActive,#u1634:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1634:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1634.MuseMenuActive
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1636-4
{
	min-height: 30px;
	position: relative;
	margin-right: -10000px;
	top: 15px;
	width: 100%;
}

#u1648.MuseMenuActive #u1650-4,#u1634:hover #u1636-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u1634:active #u1636-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u1634.MuseMenuActive #u1636-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#slideshowu2211
{
	z-index: 48;
	width: 0.01px;
	height: 471px;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 52.41%;
}

#u2212
{
	position: absolute;
	width: 572px;
	height: 404px;
	background-color: transparent;
}

#u2212popup
{
	z-index: 49;
}

#u2217
{
	z-index: 50;
	width: 572px;
	height: 404px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2330
{
	z-index: 52;
	width: 572px;
	height: 404px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2330_img
{
	margin-top: -13px;
	margin-bottom: -13px;
}

#u2350
{
	z-index: 54;
	width: 572px;
	height: 404px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2217_img,#u2350_img
{
	margin-top: -13px;
	margin-bottom: -12px;
}

#u2228
{
	position: absolute;
	width: 307px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 8px;
	top: 418px;
	left: 133px;
}

#u2228popup
{
	z-index: 56;
}

#u2233
{
	z-index: 57;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 53px;
}

#u2336
{
	z-index: 59;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 123px;
}

#u2356
{
	z-index: 61;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 193px;
}

#u2233.SSSlideLinkSelected,#u2336.SSSlideLinkSelected,#u2356.SSSlideLinkSelected
{
	border-width: 0px;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u2373-16
{
	z-index: 63;
	min-height: 399px;
	background-color: #7F7F7F;
	text-align: center;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	width: 27.51%;
	left: 23.76%;
}

#u2373-2,#u2373-3,#u2373-5,#u2373-6,#u2373-8,#u2373-10,#u2373-11,#u2373-13
{
	color: #FFFFFF;
}

#u2373-14
{
	color: #000000;
}

#u1522
{
	z-index: 79;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	width: 10.01%;
	left: 13.22%;
}

#u1522_img
{
	height: 134px;
	width: 100%;
}

#u1447
{
	z-index: 21;
	margin-bottom: -69px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	width: 10.84%;
	left: 3.17%;
}

#u1369-4
{
	z-index: 17;
	margin-bottom: -69px;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	width: 37.59%;
	left: 60.34%;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
	padding-bottom: 82px;
}

.verticalspacer
{
	min-height: 1px;
}

#u441-4_img
{
	width: 99.78%;
}

#u511-9_img
{
	width: 99.64%;
}

#u1447_img,#u1369-4_img
{
	width: 100%;
}

