.version.dimensions /* version checker */
{
	color: #000007;
	background-color: #9706F9;
}

#page
{
	z-index: 1;
	min-height: 754px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	width: 100%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

#ppu441-4
{
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 34px;
	width: 109.09%;
	margin-left: -10.09%;
}

#pu441-4
{
	width: 87.86%;
	margin-left: 11.16%;
}

#u441-4
{
	z-index: 2;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	width: 38.09%;
}

#u511-9
{
	z-index: 6;
	position: relative;
	margin-right: -10000px;
	width: 23.83%;
	left: 76.18%;
}

#pu1233
{
	margin-top: 21px;
	width: 100%;
}

#u1233
{
	z-index: 15;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u1233_img
{
	margin-left: 141px;
	margin-right: 12px;
	width: 88.32%;
}

#menuu1625
{
	z-index: 23;
	position: relative;
	margin-right: -10000px;
	margin-top: 546px;
	width: 67.46%;
	left: 21.09%;
}

#u1626
{
	min-height: 60px;
	position: relative;
	margin-right: -10000px;
	width: 24.81%;
}

#u1629
{
	padding-bottom: 30px;
	position: relative;
	width: 100%;
}

#u1629:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1629:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1630-4
{
	min-height: 30px;
	position: relative;
	margin-right: -10000px;
	top: 15px;
	width: 100%;
}

#u1629:hover #u1630-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u1629:active #u1630-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u1640
{
	min-height: 60px;
	position: relative;
	margin-right: -10000px;
	width: 24.81%;
	left: 25.03%;
}

#u1641
{
	padding-bottom: 30px;
	position: relative;
	width: 100%;
}

#u1629.MuseMenuActive,#u1641:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1641:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1643-4
{
	min-height: 30px;
	position: relative;
	margin-right: -10000px;
	top: 15px;
	width: 100%;
}

#u1629.MuseMenuActive #u1630-4,#u1641:hover #u1643-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u1641:active #u1643-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u1647
{
	min-height: 60px;
	position: relative;
	margin-right: -10000px;
	width: 24.81%;
	left: 50.06%;
}

#u1648
{
	padding-bottom: 30px;
	position: relative;
	width: 100%;
}

#u1641.MuseMenuActive,#u1648:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1648:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1650-4
{
	min-height: 30px;
	position: relative;
	margin-right: -10000px;
	top: 15px;
	width: 100%;
}

#u1641.MuseMenuActive #u1643-4,#u1648:hover #u1650-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u1648:active #u1650-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u1633
{
	min-height: 60px;
	position: relative;
	margin-right: -10000px;
	width: 24.92%;
	left: 75.09%;
}

#u1634
{
	padding-bottom: 30px;
	position: relative;
	width: 100%;
}

#u1648.MuseMenuActive,#u1634:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1634:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1634.MuseMenuActive
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1636-4
{
	min-height: 30px;
	position: relative;
	margin-right: -10000px;
	top: 15px;
	width: 100%;
}

#u1648.MuseMenuActive #u1650-4,#u1634:hover #u1636-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u1634:active #u1636-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u1634.MuseMenuActive #u1636-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u3211-30
{
	z-index: 48;
	min-height: 299px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 138px;
	width: 56.08%;
	left: 27.05%;
}

#u3211-2
{
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
}

#u3217
{
	z-index: 78;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 56px;
	width: 24.76%;
	left: 42.71%;
}

#u3214-4
{
	z-index: 79;
	min-height: 74px;
	text-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.56)/* drop shadow*/;
	-pie-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
	font-size: 48px;
	line-height: 58px;
	margin-bottom: -11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	width: 94.14%;
	left: 3.09%;
}

#u3214-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: none;
}

#u1522
{
	z-index: 83;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	width: 10.01%;
	left: 13.22%;
}

#u1522_img
{
	height: 134px;
	width: 100%;
}

#u1447
{
	z-index: 21;
	margin-bottom: -69px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	width: 10.84%;
	left: 3.17%;
}

#u1369-4
{
	z-index: 17;
	margin-bottom: -69px;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	width: 37.59%;
	left: 60.34%;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
	padding-bottom: 82px;
}

.verticalspacer
{
	min-height: 1px;
}

#u441-4_img
{
	width: 99.78%;
}

#u511-9_img
{
	width: 99.64%;
}

#u1447_img,#u1369-4_img
{
	width: 100%;
}

