.version.index /* version checker */
{
	color: #0000E9;
	background-color: #410260;
}

#page
{
	background-image: none;
	border-width: 0px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: transparent;
	border-color: #000000;
	z-index: 1;
}

#u441-4
{
	z-index: 2;
	margin-right: -10000px;
	margin-top: 21px;
	position: relative;
}

#u511-9
{
	z-index: 6;
	margin-right: -10000px;
	position: relative;
}

#pu1233
{
	margin-top: 21px;
}

#u1233
{
	z-index: 15;
	margin-right: -10000px;
	width: 100%;
	position: relative;
}

#u276-8
{
	display: block;
	position: relative;
	margin-right: -10000px;
	vertical-align: top;
	z-index: 48;
}

#u296-3
{
	position: relative;
	margin-right: -10000px;
	background-color: transparent;
	z-index: 56;
}

#u3862
{
	z-index: 59;
	background-position: 0px 0px;
	position: relative;
	margin-right: -10000px;
	background-repeat: no-repeat;
	vertical-align: top;
	height: 236px;
}

#u1522
{
	position: relative;
	margin-right: -10000px;
	z-index: 60;
}

#u1522_img
{
	width: 100%;
	height: 134px;
}

#menuu1625
{
	position: relative;
	z-index: 23;
}

#u1626,#u1640,#u1647,#u1633
{
	min-height: 60px;
	margin-right: -10000px;
	position: relative;
}

#u1629,#u1641,#u1648,#u1634
{
	padding-bottom: 30px;
	width: 100%;
	position: relative;
}

#u1629:hover,#u1629:active,#u1629.MuseMenuActive,#u1641:hover,#u1641:active,#u1641.MuseMenuActive,#u1648:hover,#u1648:active,#u1648.MuseMenuActive,#u1634:hover,#u1634:active,#u1634.MuseMenuActive
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1630-4,#u1643-4,#u1650-4,#u1636-4
{
	min-height: 30px;
	margin-right: -10000px;
	width: 100%;
	top: 15px;
	position: relative;
}

#u1629:hover #u1630-4,#u1629:active #u1630-4,#u1629.MuseMenuActive #u1630-4,#u1641:hover #u1643-4,#u1641:active #u1643-4,#u1641.MuseMenuActive #u1643-4,#u1648:hover #u1650-4,#u1648:active #u1650-4,#u1648.MuseMenuActive #u1650-4,#u1634:hover #u1636-4,#u1634:active #u1636-4,#u1634.MuseMenuActive #u1636-4
{
	padding-top: 0px;
	min-height: 30px;
	width: 100%;
	padding-bottom: 0px;
	margin: 0px -10000px 0px 0%;
}

#u1447
{
	position: relative;
	margin-right: -10000px;
	z-index: 21;
}

#u1369-4
{
	position: relative;
	margin-right: -10000px;
	z-index: 17;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	padding-bottom: 82px;
}

#u511-9_img
{
	width: 100%;
}

@media (min-width: 961px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 749px;
		max-width: 1206px;
	}

	#ppu441-4
	{
		padding-bottom: 1px;
		margin-right: -10000px;
		margin-top: 34px;
		width: 109.13%;
		margin-left: -10.12%;
	}

	#pu441-4
	{
		width: 87.85%;
		margin-left: 11.18%;
	}

	#u441-4
	{
		width: 38.07%;
	}

	#u511-9
	{
		width: 23.79%;
		left: 76.22%;
	}

	#u1233_img
	{
		margin-left: 141px;
		margin-right: 13px;
		margin-bottom: -1px;
		width: 88.3%;
	}

	#menuu1625
	{
		margin-right: -10000px;
		margin-top: 546px;
		width: 67.41%;
		left: 21.05%;
	}

	#u1626
	{
		width: 24.81%;
	}

	#u1640
	{
		width: 24.81%;
		left: 25.03%;
	}

	#u1647
	{
		width: 24.81%;
		left: 50.06%;
	}

	#u1633
	{
		width: 24.92%;
		left: 75.09%;
	}

	#u276-8
	{
		margin-top: 298px;
		width: 51.9%;
		left: 28.96%;
	}

	#u296-3
	{
		margin-top: 192px;
		width: 3.04%;
		left: 74.55%;
	}

	#u3862
	{
		background-image: url("../images/untitled-1-u3862.png");
		margin-top: 76px;
		width: 15.58%;
		left: 46.59%;
	}

	#u1522
	{
		margin-top: 15px;
		width: 10.04%;
		left: 13.23%;
	}

	#u1447
	{
		margin-bottom: -70px;
		margin-top: 18px;
		width: 10.87%;
		left: 3.16%;
	}

	#u1447_img
	{
		padding-right: 1px;
		width: 99.24%;
	}

	#u1369-4
	{
		margin-bottom: -70px;
		margin-top: 41px;
		width: 37.57%;
		left: 60.37%;
	}

	.verticalspacer
	{
		min-height: 1px;
	}

	#u441-4_img
	{
		width: 99.78%;
	}

	#pu1233,#u1369-4_img
	{
		width: 100%;
	}
}

@media (max-width: 960px)
{
	#muse_css_mq
	{
		background-color: #0003c0;
	}

	#bp_960.active
	{
		display: block;
	}

	#page
	{
		min-height: 753.0999999999999px;
		padding-bottom: 1px;
		max-width: 960px;
	}

	#page_position_content
	{
		margin-bottom: -84px;
		padding-top: 34px;
		width: 100%;
	}

	#pu441-4
	{
		width: 95.84%;
		margin-left: 2.09%;
	}

	#u441-4
	{
		width: 38.05%;
	}

	#u511-9
	{
		width: 23.81%;
		left: 76.2%;
	}

	#pu1233
	{
		width: 109.07%;
		margin-left: -10.11%;
	}

	#u1233_img
	{
		margin-left: 113px;
		margin-right: 9px;
		width: 88.35%;
	}

	#u276-8
	{
		margin-bottom: -135px;
		margin-top: 244px;
		width: 52.25%;
		left: 28.75%;
	}

	#u296-3
	{
		margin-top: 138px;
		width: 3.06%;
		left: 74.6%;
	}

	#u3862
	{
		background-image: url("../images/untitled-1-u38622.png");
		margin-top: 22px;
		width: 15.67%;
		left: 46.61%;
	}

	#u1522
	{
		margin-top: 20px;
		width: 10.22%;
		left: 13.57%;
	}

	#menuu1625
	{
		margin-top: 26px;
		width: 73.55%;
		margin-left: 12.92%;
	}

	#u1626
	{
		width: 24.79%;
	}

	#u1640
	{
		width: 24.79%;
		left: 25.08%;
	}

	#u1647
	{
		width: 24.79%;
		left: 50.15%;
	}

	#u1633
	{
		width: 24.79%;
		left: 75.22%;
	}

	#pu1447
	{
		margin-top: 17px;
		width: 94.8%;
		margin-left: 3.13%;
	}

	#u1447
	{
		width: 11.43%;
	}

	#u1369-4
	{
		margin-top: 22px;
		width: 39.68%;
		left: 60.33%;
	}

	body
	{
		min-width: 320px;
	}

	#u441-4_img,#u1447_img
	{
		width: 100%;
	}

	#u1369-4_img
	{
		width: 99.73%;
	}
}

