	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 749px;
		max-width: 1206px;
	}

	#ppu441-4
	{
		padding-bottom: 1px;
		margin-right: -10000px;
		margin-top: 34px;
		width: 109.13%;
		margin-left: -10.12%;
	}

	#pu441-4
	{
		width: 87.85%;
		margin-left: 11.18%;
	}

	#u441-4
	{
		width: 38.07%;
	}

	#u511-9
	{
		width: 23.79%;
		left: 76.22%;
	}

	#u1233_img
	{
		margin-left: 141px;
		margin-right: 13px;
		margin-bottom: -1px;
		width: 88.3%;
	}

	#menuu1625
	{
		margin-right: -10000px;
		margin-top: 546px;
		width: 67.41%;
		left: 21.05%;
	}

	#u1626
	{
		width: 24.81%;
	}

	#u1640
	{
		width: 24.81%;
		left: 25.03%;
	}

	#u1647
	{
		width: 24.81%;
		left: 50.06%;
	}

	#u1633
	{
		width: 24.92%;
		left: 75.09%;
	}

	#u276-8
	{
		margin-top: 298px;
		width: 51.9%;
		left: 28.96%;
	}

	#u296-3
	{
		margin-top: 192px;
		width: 3.04%;
		left: 74.55%;
	}

	#u3862
	{
		background-image: url("../images/untitled-1-u3862.png");
		margin-top: 76px;
		width: 15.58%;
		left: 46.59%;
	}

	#u1522
	{
		margin-top: 15px;
		width: 10.04%;
		left: 13.23%;
	}

	#u1447
	{
		margin-bottom: -70px;
		margin-top: 18px;
		width: 10.87%;
		left: 3.16%;
	}

	#u1447_img
	{
		padding-right: 1px;
		width: 99.24%;
	}

	#u1369-4
	{
		margin-bottom: -70px;
		margin-top: 41px;
		width: 37.57%;
		left: 60.37%;
	}

	.verticalspacer
	{
		min-height: 1px;
	}

	#u441-4_img
	{
		width: 99.78%;
	}

	#pu1233,#u1369-4_img
	{
		width: 100%;
	}

